body {
  background:#020617;
  color:#fff;
  font-family:Arial;
  text-align:center;
}

input, select, button {
  padding:8px;
  margin:5px;
}

#map {
  display:grid;
  grid-template-columns: repeat(10, 40px);
  gap:4px;
  justify-content:center;
}

.cell {
  width:40px;
  height:40px;
  font-size:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
}

.player { background:#16a34a; }
.enemy { background:#b91c1c; }

.mine { border:2px solid gold; }
.forest { border:2px solid green; }
.fort { border:2px solid gray; }

/* Characters */
.character {
  width:80px;
  height:80px;
  border-radius:12px;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  margin:5px;
  font-size:11px;
  box-shadow:0 0 10px black;
}

.fire-orc {background:linear-gradient(#7f1d1d,#ef4444);}
.frost-elf {background:linear-gradient(#0ea5e9,#bae6fd);}
.shadow-goblin {background:linear-gradient(#312e81,#a855f7);}
.stone-dwarf {background:linear-gradient(#4b5563,#9ca3af);}
.undead {background:linear-gradient(#14532d,#22c55e);}
.storm-beast {background:linear-gradient(#0284c7,#38bdf8);}
.sand-walker {background:linear-gradient(#ca8a04,#fde68a);}
.void-cultist {background:linear-gradient(#020617,#581c87);}
.forest-guardian {background:linear-gradient(#166534,#4ade80);}
.dragonkin {background:linear-gradient(#ea580c,#fb923c);}